

@import '../variables';

ul.thumb-list {
	list-style-type: none;
	margin         : 0;
	padding        : 0;

	li {
		overflow: auto;
		padding : 10px;

		img {
			float       : left;
			margin-right: 15px;
			width       : 20%;
		}

		p {
			font-family: $geo-font;
			margin     : 0;
			padding    : 0;
		}
	}

	li:hover {
		background-color: $gray-lightest;
		cursor          : pointer;
	}

	h1, h2, h3, h4, h5 {
		font-family: $hel-font;
		margin     : 0;
		padding    : 0;
	}
}

