

@import '../variables';

ol.big-numbers {
	color          : #ccc;
	list-style-type: none;

	li {
		font-family  : $hel-font;
		font-size    : 45px;
		font-style   : italic;
		font-weight  : bold;
		margin-bottom: 20px;
		position     : relative;

		p {
			color       : $gray;
			font-family : $hel-font;
			font-size   : 14px;
			font-style  : none;
			font-weight : normal;
			padding-left: 60px;
		}

		span {
			position: absolute;
		}
	}
}

