

// Include the padding and border in the elements width and height
* {
    box-sizing: border-box;
}

// The row container (div)
.row:after {
	clear  : both;
	content: " ";
	display: table;
}

// clearfix
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix {
  *zoom: 1;
  clear: both;
}

// Typical column settings
[class*="col-"] {
    float  : left;
    padding: 1rem;
}

// Adjust element to the right
.right {
	float:right;
}
